.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
  padding: 10px;
}

.player__volume-updater {
  position: relative;
  margin-right: 25px;
}

.player__audio-controls {
  display: flex;
  justify-content: space-between;
}

.player__time-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
