@import 'assets/styles/variables';

.button {
  background: $color-blue;
  color: $color-white;
  border-radius: $big-border-radius;
  padding: 12px 35px;
  font-weight: bold;
  // box-shadow: 0 2px 8px -1px $color-blue;
}
