@import 'assets/styles/typography';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  color: $color-gray;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
}

a,
button,
label {
  -webkit-tap-highlight-color: transparent;
}

button {
  overflow-anchor: none;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
  display: none;
}

select::-ms-expand {
  display: none;
}

input,
select,
button {
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

ul > li {
  list-style: none;
}

@media screen and (min-width: 360px) {
  body {
    padding: 1rem 2rem;
  }
}
