$color-white: #fff;
$color-black: #000;

$color-blue: #4061d7;
$color-blue-light: #7e94e5;
$color-blue-lightest: #d3e3fb;
$color-blue-darkest: #232c44;

$color-gray: #616161;
$color-gray-light: #dedede;
$color-gray-lighter: #f3f4fa;

$color-red: #e70601;

$heading-color: $color-blue-darkest;

$base-border-radius: 7px;
$big-border-radius: 13px;
$bigger-border-radius: 23px;

$base-transition-easing: ease-in-out;
